div.cover_text_box {
    background-color: white;
    opacity: 0.8;
    width: 90%;
    min-height: 200px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    padding: 10px;
}

h1.cover_title {
    font-size: 150px;
    font-weight: bold;
    color: blue;
}

p.cover_description_header {
    font-size: 30px;
    font-weight: bold;
    color: blue;
}

p.read_on_button {
    font-size: 50px;
    color: white;
    padding-left: 10px;
    padding-top: 10px;
    margin:auto;
    float: left;
    opacity: 1;
}

div.read_on_button {
    background-color: blue;
    width: 270px;
    height: 90px;
}
