div#article_list {
    width: 1200px;
    margin-top: 55px;
    margin-left:auto;
    margin-right:auto;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

div#list_title {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 40px;
    background-color: #d7e3f7;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
}

div.article_list_item {
    width: 1200px;
    min-height: 140px;
    border-bottom: 1px solid grey;
}

div.article_list_item:hover {
    background-color: #d7e3f7;
}

div.article_list_item_title {
    float: left;
    font-size: 30px;
    width: 1200px;
    height: 40px;
}

div.article_list_item_body {
    float: left;
    font-size: 20px;
    width: 1200px;
    min-height: 100px;
}

div.article_list_item_selectbutton {
    margin-top: -40px;
    float: right;
    height: 140px;
    width: 40px;
    background-color: #0253d6;
}

div.article_list_item_selectbutton:hover {
    background-color: blue
}

div.read_article_icon {
    width: 0px; height: 0px;
    border-top: 70px solid transparent;
    border-left: 40px solid blue;
    border-bottom: 70px solid transparent;
}
