<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Admin - Password Reset</title>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>-->
    <link rel="stylesheet" type="text/css" href="/static-admin-css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static-admin-css/loginpage/loginpage.css" />
</head>

<body class="non_gentle_background_colour">
    <div class="thick_border rounded_corners gentle_background_colour" id="login_credentials_box">
        <div class="nice_box_header_box_with_padding">
            <h3 class="align_centre nice_header_font_size nice_font">Password Reset</h3>
        </div>
        <div class="credentials_div_container">
            <form id="password_reset_form">
                <div class="forgot_password_div align_centre forgot_password_instructions">
                    <p class="nice_font">Enter your email address below. Then click 'Reset' to have a password reset email sent.</p>
                </div>
                <table class="credentials_table">
                    <tr>
                        <td>
                            <p class="nice_label_font_size nice_font display_inline">Email</p>
                        </td>
                        <td>
                            <input class="display_inline nice_input" type="text" name="u_name" id="u_name">
                        </td>
                    </tr>
                </table>
                <div class="align_centre login_button_div">
                    <input type="submit" class="link_button nice_button align_centre display_inline" value="Reset">
                </div>
            </form>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/static-admin-js/password-reset.js"></script>
    <script src="/static-admin-js/base.js"></script>
</body>
</html>
