<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Admin - Password Reset</title>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>-->
    <link rel="stylesheet" type="text/css" href="/static-admin-css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static-admin-css/loginpage/loginpage.css" />
</head>

<body class="non_gentle_background_colour">
    <div class="thick_border rounded_corners gentle_background_colour" id="login_credentials_box">
        <div class="nice_box_header_box_with_padding">
            <h3 class="align_centre nice_header_font_size nice_font">Set New Password</h3>
        </div>
        <div class="credentials_div_container">
            <p class="align_centre nice_font password_reset_feedback">You have an invalid or expired password reset url</p>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/static-admin-js/set-new-password.js"></script>
    <script src="/static-admin-js/base.js"></script>
</body>
</html>
