<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Admin - Password Reset</title>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>-->
    <link rel="stylesheet" type="text/css" href="/static-admin-css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static-admin-css/loginpage/loginpage.css" />
</head>

<body class="non_gentle_background_colour">
    <div class="thick_border rounded_corners gentle_background_colour" id="login_credentials_box">
        <div class="nice_box_header_box_with_padding">
            <h3 class="align_centre nice_header_font_size nice_font">Set New Password</h3>
        </div>
        <div class="credentials_div_container">
            <!-- <form id="set_new_password"> -->
                <table class="credentials_table">
                    <tr>
                        <td>
                            <p class="nice_label_font_size nice_font display_inline">Enter new password</p>
                        </td>
                        <td>
                            <input class="display_inline nice_input" type="password" name="password1" id="password1">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="nice_label_font_size nice_font display_inline">Repeat new password</p>
                        </td>
                        <td>
                            <input class="display_inline nice_input" type="password" name="password2" id="password2">
                        </td>
                        <td>
                            <input class="do_not_display" type="text" name="url_code" id="url_code" value="{{ url_code }}">
                        </td>
                    </tr>
                </table>
                <div class="align_centre login_button_div">
                    <input id="submit_form" class="link_button nice_button align_centre display_inline" value="Reset">
                </div>
                <p id="password_reset_feedback" class="align_centre nice_font password_reset_feedback"></p>
            <!-- </form> -->
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/static-admin-js/set-new-password.js"></script>
    <script src="/static-admin-js/base.js"></script>
</body>
</html>
