<!DOCTYPE html>
<html>
<head>
    <title>Boaty Boat Stuff</title>
    <link rel="stylesheet" type="text/css" href="/static-css/base.css" />
    {% block head %}
    {% endblock %}
</head>
<body>
    <div id="header">
        BoatyBoatStuff
        <div id="contact" class="header_option pointy_thing">Contact</div>
        <div id="articles" class="header_option pointy_thing">Articles</div>
        <div id="welcome" class="header_option pointy_thing">Welcome</div>
    </div>
    {% block body %}
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/static-js/base.js"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>
