<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static-css/base.css" />
    {% block head %}
    {% endblock %}
</head>
<body>
    <div id="header">
        Boaty Boat Stuff
        <div id="contact" class="header_option pointy_thing">Contact</div>
        <div id="articles" class="header_option pointy_thing">Articles</div>
        <div id="welcome" class="header_option pointy_thing">Welcome</div>
    </div>
    {% block body %}
    {% endblock %}
    <script src="/static-js/base.js"></script>
</body>
</html>
