{% extends "Blog/Inherit/Base.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static-css/contact.css" />
{% endblock %}

{% block body %}
    <div class = "page_container">
        <div id = "content_section">
            <div class = "content_header">
                Contact
            </div>
            <div class = "content_body">
                <div class="email_form" id="email_form">
                    <div class="email_form_header" id="email_form_header">
                        Email me
                    </div>
                    <div class="email_input_div">
                        Your Email  <input id="email_input" class="oneline_input email_input" />
                    </div>
                    <div class="message_content_div">
                        <textarea id="message_body" class="message_textarea">Your message...</textarea>
                    </div>
                    <div id="send_message" class="button send_message">
                        Send
                    </div>
                    <div id="error_dialog" class="hidden">
                        Hello
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block scripts %}
    <script src="/static/js/contact.js"></script>
    {% endblock %}
