{% extends 'Blog/Inherit/Base.html' %}

{% block head %}
    <link rel="stylesheet" href="/static/css/cover-page.css" />
{% endblock  %}

{%block body %}
<div class="cover_text_box">
    <p class="cover_description_header">Hello. This blog is about a boat.</p>
</div>


<div id="read_on_button" class="read_on_button fade_button fix_bottom_right">
    <p class="read_on_button">Read on...</p>
</div>

<script src="/static/js/cover.js"></script>
<script src="/static/js/base.js"></script>

{% endblock %}
