{% extends "Blog/Inherit/Base.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static-css/home.css" />
{% endblock %}

{% block body %}
    <div id = "article_list">
        <div id = "list_title">
            Article List
        </div>
    {% for Article in AllPublishedArticles %}
        <div class="article_list_item pointy_thing">
            <div class="hidden">{{Article.id}}</div>
            <div class="article_list_item_title">
                {{ Article.posted|slice(0, 10) }}: {{ Article.title }}
            </div>
            <div class="article_list_item_body">
                {{ Article.short_description }}
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
