<!DOCTYPE html>
<html>
<head>
    <title>phil-blog-admin</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static-admin-css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static-admin-css/dashboard/dashboard-base.css" />
    <link rel="stylesheet" type="text/css" href="/static-admin-css/dashboard/blog-edit.css" />
    <link rel="stylesheet" type="text/css" href="/static-admin-css/dashboard/blog-search.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
</head>
<body class="gentle_background_colour why_the_fuck_is_this_not_default">
    <div id="proper_header_like" class="nice_attentive_green_colour fixed_position">
        <div id="welcome_page_button" class="header_option nice_header_font_size nice_font display_inline border-right nice_menu_item link_button">PhilBlogAdmin</div>
        <div id="blog_admin_button" class="header_option nice_header_font_size nice_font display_inline border-right nice_menu_item link_button">Blogs And Shit</div>
        <div id="site_settings_button" class="header_option nice_header_font_size nice_font display_inline border-right nice_menu_item link_button">Site Settings And Shit</div>
        <div id="user_settings" class="header_option nice_header_font_size nice_font display_inline user_settings_div border-left nice_menu_item link_button">User Options</div>
        <div id="user_options_menu" class="user_options_menu do_not_display">
            <div id="logout" class="user_options_item header_option link_button fixed_position">Logout</div>
        </div>
    </div>
    <div id="page_ident_tag" class="do_not_display">DASHBOARD</div>
    <div id="main_contents">
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript" src="/static/ckeditor/ckeditor.js"></script>
    <script src="/static-admin-js/login-page.js"></script>
    <script src="/static-admin-js/base.js"></script>
    <script src="/static-admin-js/ckeditor/styling.js"></script>
    <script src="/static-admin-js/blog-edit.js"></script>
    <script src="/static-admin-js/blog-search.js"></script>
</body>
</html>
