<div id="background_admin_panel">
    <div id="background_admin_header" class="nice_font">Page Background Admin And Shit</div>
    <div id="background_options">
        <div id="add_new_background" class="backround_option nice_font nice_header_font_size nice_menu_item link_button header_option">Add New Image</div>
        <input id="add_new_background_image" type="file" style="visibility: hidden;" />
        <div id="delete_current_selected" class="backround_option nice_font nice_header_font_size nice_menu_item link_button header_option">Delete Displayed</div>
        <div id="set_as_displayed" class="backround_option nice_font nice_header_font_size nice_menu_item link_button header_option">Set As Displayed</div>
    </div>
    <div id="background_list_container">
        <div id="background_list_header" class="nice_font nice_header_font_size">Available Images</div>
        <div id="background_list">
            <div class="background_list_option link_button">1</div>
            <div class="background_list_option link_button">2</div>
            <div class="background_list_option link_button">3</div>
        </div>
    </div>
    <div id="background_preview">
    </div>
</div>
